button {
  margin: 4px;
}

.content {
  display: flex;
  justify-content: center;
  display: table-cell;
}

.user {
  padding: 20px;
}

.message {
  padding: 2px 4px;
  margin: 0px;
}

.message-box-message {
  width: 150px;
}

.message-box-received {
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
  margin-bottom: 0.3rem;
  position: relative;
  background: var(--white);
  align-self: flex-start;
}
.sender,
.receiver {
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
  margin-bottom: 0.3rem;
  position: relative;
}

.sender {
  background: var(--sender-message-green);
  align-self: flex-end;
}

.receiver {
  background: var(--white);
  align-self: flex-start;
}

.message-box-received.disabled {
  border-color: lightgray;
}
