/* button {
  margin: 4px;
} */

.content {
  display: flex;
  justify-content: center;
}

.user {
  padding: 20px;
  display: block;


}

.video {
  display: flex;
  background: black;
  position: relative;
  border: 1px solid lightgrey;
  height: 250px;
  width: 250px;
  /* margin: 20px 0; */
}

.video-local {
  display: flex;
  background: black;
  position: absolute;
  border: 1px solid lightgrey;
  height: 50px;
  width: 50px;
  top: 0px;
  left: 0px;
  transform: scaleX(-1);
}

.connect {
  background: rgb(140, 1, 1);
  display:inline-block;
    width:auto;
 
    padding:10px;
    margin:5px;
    width: 60%;
    margin-left: 20px;
    text-align: center;


  
}

input[type="checkbox"]  {
  display: none;
}

